<div id="page-content">
  <div class="container" id= "home-container">
    <div class="jumbotron text-center text-white">
      <h1 class="display-4">Alpha Blog</h1>
      <p class="lead">Test Test.</p>
      <hr class="my-4">
      <p>Welcome to our blog</p>
      <a class="btn btn-success btn-lg" href="#" role="button">Sign up!</a>
    </div>
  </div>
</div>
<footer id="sticky-footer" class="py-4 text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Samer Alswairki", "https://www.linkedin.com/in/samer-alswairki/", class: "text-white" %></small>
  </div>
</footer>