<footer id="sticky-footer" class="py-4 text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Samer Alswairki", "https://www.linkedin.com/in/samer-alswairki/", class: "text-white" %></small>
  </div>
</footer>